body {
    margin : 0;
    font   : normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display        : block;
    vertical-align : bottom;
}

h1{
    font-size       : 24px;
    text-align      : center;
    text-decoration : underline wavy;
}

.diary{
    position      : absolute;

    height        : 94%;
    width         : 80%;
    margin        : 2% 10%;
    padding       : 20px;

    background    : rgb(0,201,255);
    background    : radial-gradient(circle, rgba(0,201,255,0.7) 0%, rgba(50,65,78,0.969625350140056) 100%);
    color         : #fff;
    border-radius : 0px 100px;
}

#particles-js {
    position            : absolute;

    height              : 100%;
    width               : 100%;

    background-color    : #000;
    background-image    : url("");
    background-position : 50% 50%;
    background-repeat   : no-repeat;
    background-size     : cover;
}

.count-particles {
    position       : absolute;
    top            : 48px;
    left           : 0;

    width          : 80px;
    padding-bottom : 2px;

    background     : #000022;
    font-family    : Helvetica, Arial, sans-serif;
    font-size      : .8em;
    font-weight    : bold;
    color          : #13E8E9;
    line-height    : 14px;
    text-align     : left;
    text-indent    : 4px;
}

.js-count-particles {
    font-size : 1.1em;
}

#stats,.count-particles {
    margin-top          : 5px;
    margin-left         : 5px;

    -webkit-user-select : none;
}

#stats {
    overflow      : hidden;
    border-radius : 3px 3px 0 0;
}

.count-particles {
    border-radius : 0 0 3px 3px;
}